<!DOCTYPE html>
<html>
<head>
    <title>View Engine Demo</title>
    <style>
        body {
            background-color: linen;
        }

        h1 {
            color: maroon;
            display: flex;
            justify-content: center;
        }
        h4 {
            color: rgb(11, 7, 238);
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
  
  <!- For printing variable these
      tags are used: <%= %>  -->
  <h1> <%= title %> </h1>
     
  <!- For business logic these
      tags are used: <% %> -->
  <% if(page){ %>
      <h4>Error is in this page</h4> 
  <% } %>
</body>
</html>